body
	line-height 1
	input
		width 55px
		height 23px
		font-family arial
	.Big1
		width 100%
		height 41px
		.daohangBig
			width 1190px
			height 41px
			background-color #f5f5f5
			border 1px solid #e8e8e8
			margin 0 auto
			.neirong
				width 1190px
				height 41px
				.daohangOne
					width 1190px
					height 39px
					.daohangOneliebiao
						& li
							float left
							line-height 39px
							text-align center
							height 39px
							font-size 10px
						& .one
							width 87px
						& .two
							width 87px
							height 39px
							padding-left 10px
							padding-right 10px
							margin-left 20px
						& .three
							width 87px
							height 39px
							padding-left 10px
							padding-right 10px
							margin-left 20px
						& .four
							width 87px
							height 39px
							padding-left 10px
							padding-right 10px
							margin-left 20px
						& li:hover
							border 1px solid #e8e8e8
							background-color rgb(255,255,255)
							color #f50
							.oa
								background-color: #fff;
								border-color: #e5e5e5;
								color: #f50;
					.daohangtwo
						float left
						height 39px
						padding-left 20px
						line-height 39px	
						.biao
							& li
								float left
							.zuixiaozhi
								width 55px
								height 23px
							.zuixiaozhi input
								background-color rgb(255,255,255)
								border 1px solid rgb(223,223,233)
							.zuidazhi
								width 55px
								height 23px
							.zuidazhi input
								background-color rgb(255,255,255)
								border 1px solid rgb(223,223,233)
							.submit
								width 55px
								height 23px
								margin-left 10px
							.submit input
								background-color rgb(255,68,0)
								width 45px
								height 24px
								border-radius 5px
							.fahuodi
								width 89px
								height 39px
								line-height 39px
								margin-left 350px
					.huanye
						width 80px
						height 39px
						float left
						& ul li
							float left
							line-height 39px						
	.Big2
		width 100%
		height 4968px
		.chanpin
			width 1370px
			height 4968px
			margin 0 auto 
			margin-top 60px
			.chanpinliebiao
				float left
				& li 
					width 252px
					height 352px 
					float left
					margin-right 20px
					margin-top 20px
					border 1px solid rgb(237,237,237)
				& li:hover
					border 1px solid rgb(255,68,0)
				& .ps
					width 250px
					height 250px
					&>a
						display block
						width 250px
						height 250px
						background-size 250px 250px
				& .jiage
					margin-top 11px
					height 22px
					color #F40
					line-height 22px
					font-family verdana arial
					font-size 18px
					line-height: 22px
					zoom 1
					& span
						margin-right 3px
				& .neirong
					width 250px
					height 30px
					font-size 12px
					padding: 0 10px
				& .neirong:hover
					color rgb(255,68,0)	
					text-decoration underline
				& .dianming
					float left 
					margin-left 10px
					.hengxian
						float left 
						width 13px
						height 12px
					.hengxian1
						width 8px
						height 2px
						background-color rgb(255,68,0)
						margin-top 2px
						float left 
					.dian
						font-size 12px
						color rgb(136,136,136)
						text-decoration underline
					.dian:hover
						color rgb(255,68,0)	
					.diming
						font-size 12px
						color rgb(136,136,136)
						margin-left 131px